:root {
	--clr--soft-blue: hsl(231, 69%, 60%);
	--clr--soft-red: hsl(0, 94%, 66%);
	--clr-grayish-blue: hsl(229, 8%, 60%);
	--clr--very-dark-blue: hsl(229, 31%, 21%);
	--clr--surface: hsl(0, 0%, 100%);

	--fs-small: 14px;
	--fs-normal: 18px;
	--fs-large: 24px;
	--fs-larger: 32px;
	--fw-normal: 400;
	--fw-bold: 500;
	--opacity-text: 0.75;
}

*,
::before,
::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	/* background-color: black; */
}

html,
body,
header,
main,
footer {
	height: fit-content;
	width: 100%;
}

header,
main {
	padding-left: 11%;
	padding-right: 6%;
}

header {
	height: 46px;
	/* display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between; */
	margin-top: 45px;
	margin-bottom: 110px;
}

body {
	font-family: "Rubik", sans-serif;
	font-size: var(--fs-normal);
	font-weight: var(--fw-normal);
	position: relative;
}

html,
body {
	overflow-x: hidden;
}

main {
}

footer {
	max-height: 448px;
	display: flex;
	flex-direction: column;
}

footer li {
	list-style: none;
}

.navbar__close-icon {
	display: none;
}

.navbar {
	display: flex;
	justify-content: space-between;
}

.navbar__header {
}

.navbar__hamburger,
.navbar__footer {
	display: none;
}

/* .navbar__logo_active {
	display: none;
} */

.navbar__menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	gap: 44px;
}

.navbar__item hr {
	display: none;
}

.navbar__link {
	color: var(--clr--very-dark-blue);
	font-size: var(--fs-small);
	text-decoration: none;
}

.navbar__button {
	background-color: var(--clr--soft-red);
	color: var(--clr--surface);
	font-size: var(--fs-small);
	padding: 16px 33px;
	border: none;
	border-radius: 10px;
}

.introduction {
	width: auto;
	height: min-content;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 150px;
}

.introduction__rectangle {
	background-color: var(--clr--soft-blue);
	width: 85%;
	height: 90%;
	z-index: -1;
	display: flex;
	position: absolute;
	transform: translate(70%, 20%);
	border-radius: 316px;
}

.introduction__info {
	min-width: 245px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 30px;
}

.introduction__title {
	font-weight: var(--fw-bold);
	font-size: 48px;
}

.introduction__text {
	opacity: var(--opacity-text);
}

.introduction__picture {
	max-width: 100%;
	max-height: auto;
	display: flex;
}

.introduction__buttons {
	display: flex;
	justify-content: flex-start;
	gap: 15px;
	margin-top: 10px;
}

.introduction__button {
	font-weight: var(--fw-bold);
	font-size: var(--fs-small);
	-webkit-box-shadow: 1px 9px 17px 2px rgba(179, 176, 176, 0.57);
	-moz-box-shadow: 1px 9px 17px 2px rgba(179, 176, 176, 0.57);
	box-shadow: 0px 9px 17px 2px rgba(179, 176, 176, 0.57);
	border-radius: 4px;
	border: none;
}

.introduction__button-chrome {
	width: 166px;
	height: 48px;
	background-color: var(--clr--soft-blue);
	color: var(--clr--surface);
}

.introduction__button-firefox {
	width: 161px;
	height: 48px;
	color: var(--clr--very-dark-blue);
}

.features {
	display: flex;
	flex-direction: column;
	margin-bottom: 240px;
}

.features__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 70px;
}

.features__heading {
	font-size: var(--fs-larger);
	font-weight: var(--fw-bold);
	margin-bottom: 30px;
}

.features__info-text {
	opacity: var(--opacity-text);
	max-width: 540px;
}

.features__slide-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.features__buttons-line {
	display: none;
}

.features__buttons-bottom-line {
	width: 45vw;
	display: flex;
	align-self: center;
}

.features__button {
	background-color: var(--clr--surface);
	font-size: var(--fs-small);
	border: none;
	border-bottom: 1px solid rgb(73, 93, 207, 0.2);
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
}

.features__slideshow {
	display: flex;
	position: relative;
	margin-top: 70px;
}

.features__slideshow-page {
	/* max-height: 346px; */
	gap: 8vw;
	transform: translate(200%);
	transition: 0.3s ease-out;
}

.features__slideshow-page.active {
	display: flex;
	transform: translate(0);
}

.features__slideshow-page_left {
	position: absolute;
}

.features__slideshow-page_center {
	/* margin-left: 100px; */
}

.features__slideshow-page_right {
	position: absolute;
	/* margin-left: 80px; */
}

.features__rectangle-container {
	position: relative;
	height: fit-content;
}

.features__rectangle {
	background-color: var(--clr--soft-blue);
	width: 150%;
	height: 100%;
	position: absolute;
	z-index: -1;
	transform: translate(-50%, 20%);
	border-radius: 316.5px;
}

.features__picture {
}

.features__slideshow-info {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-right: 4vw;
}

.features__slideshow-heading {
	font-size: var(--fs-larger);
	font-weight: var(--fw-bold);
}

.features__slideshow-text {
	opacity: var(--opacity-text);
	line-height: 28px;
}

.features__button-info {
	background-color: var(--clr--soft-blue);
	color: var(--clr--surface);
	font-size: var(--fs-small);
	width: 114px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 5px;
	padding: 10px 24px;
}

.extensions {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-bottom: 150px;
}

.extensions__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: center;
	text-align: center;
	margin-bottom: 45px;
}

.extensions__info-title {
	font-weight: var(--fw-bold);
	font-size: var(--fs-larger);
	margin-bottom: 30px;
}

.extensions__info-text {
	opacity: var(--opacity-text);
	max-width: 540px;
}

.extensions__cards {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 30px;
	margin-left: 7vw;
	margin-right: 11vw;
}

.extensions__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 280px;
	height: 370px;
	border-radius: 15px;
	-webkit-box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.1);
}

.extensions__card_top {
	margin-bottom: auto;
}

.extensions__card_center {
	margin-top: 40px;
	margin-bottom: 40px;
}

.extensions__card_bottom {
	margin-top: 80px;
}

.extensions__card-image {
	max-width: 100px;
	height: auto;
	margin-top: 50px;
}

.extensions__add-to-browser {
	font-weight: var(--fw-bold);
	margin-top: 30px;
}
.extensions__version {
	opacity: var(--opacity-text);
	margin-top: 5px;
}
.extensions__dots-image {
	margin-top: 30px;
}

.extensions__button {
	background-color: var(--clr--soft-blue);
	color: var(--clr--surface);
	font-size: var(--fs-small);
	max-width: 230px;
	height: auto;
	padding: 10px 35px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
}

.FAQ {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 19vw;
	margin-right: 24vw;
}
.FAQ__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 10px;
	margin-bottom: 60px;
}
.FAQ__info-title {
	font-weight: var(--fw-bold);
	font-size: var(--fs-larger);
}
.FAQ__info-text {
	opacity: var(--opacity-text);
	max-width: 540px;
}

.FAQ__menu {
	margin-bottom: 55px;
}

.FAQ__menu-item {
	margin-top: 20px;
	margin-bottom: 15px;
}

.FAQ__question {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.FAQ__guestion-text {
}

.FAQ__arrow {
	display: inline-block;
}

.FAQ__arrow-picture {
	transition: 0.2s ease-out;
}

.FAQ__answer {
	height: 0;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s ease-out;
}

.FAQ__answer.active {
	height: auto;
	visibility: visible;
	opacity: 1;
	padding-top: 30px;
	padding-bottom: 30px;
}
.FAQ__answer-text {
	opacity: var(--opacity-text);
	line-height: 36px;
}

.FAQ__button {
	background-color: var(--clr--soft-blue);
	color: var(--clr--surface);
	font-size: var(--fs-small);
	width: 114px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 5px;
	margin-bottom: 150px;
}

.footer__top {
	background-color: var(--clr--soft-blue);
	color: var(--clr--surface);
	max-height: 360px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 35px;
	padding-top: 60px;
	padding-bottom: 70px;
}

.footer__already-joined {
	font-size: var(--fs-small);
}

.footer__label {
	font-size: var(--fs-larger);
}

.footer__input {
	display: flex;
	gap: 15px;
	justify-content: center;
	align-items: center;
}

.footer__input-form {
	background-color: var(--clr--surface);
	color: rgba(0, 0, 0, 0.5);
	max-height: 300px;
	border: none;
	border-radius: 5px;
	padding: 18px 23px;
}

.footer__input-button {
	background-color: var(--clr--soft-red);
	color: var(--clr--surface);
	font-size: var(--fs-small);
	border: none;
	border-radius: 5px;
	padding: 18px 23px;
}

.footer__bottom {
	background-color: var(--clr--very-dark-blue);
	height: 88px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 11%;
	padding-right: 6%;
}

.footer__menu {
	display: flex;
}

.footer-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 60px;
}

.footer__menu {
	gap: 40px;
}

.footer__link {
	color: var(--clr--surface);
	font-weight: var(--fw-normal);
	text-decoration: none;
}

.footer__social-media {
	display: flex;
	align-items: center;
	gap: 40px;
}

@media screen and (max-width: 1440px) {
	.extensions__card {
		margin: 0;
	}
}

@media screen and (max-width: 820px) {
	body {
		padding: 0;
		margin-top: 45px;
	}

	header {
		overflow: hidden;
		margin: 0;
		margin-bottom: 80px;
	}

	/* .active {
		background-color: var(--clr--very-dark-blue);
		opacity: 0.95;
		transition: 0.3s ease-out;
	} */

	/* header.active {
		overflow: visible;
		transition: 0.3s ease-out;
	} */

	.navbar__logo,
	.navbar__hamburger,
	.navbar__footer {
		display: block;
	}

	/* .logo {
		display: none;
	} */

	/* .navbar__logo.disable {
		display: none;
	} */

	/* .navbar__logo_active.active {
		display: block;
	} */

	.navbar {
		width: 100%;
		height: 100%;
		flex-direction: column;
		gap: 80px;
		/* display: flex; */
	}

	/* .navbar__logo {
		background-color: rgb(0, 8, 255);
		-webkit-mask: url(logo.svg) no-repeat center;
		mask: url(logo.svg) no-repeat center;
	} */

	/* .navbar__hamburger {
		transition: fil 0.3s ease-out;
		display: none;
	} */

	.navbar__close-icon.active {
		/* transition: 10 ease-out; */
		display: block;
	}

	.navbar__header {
		display: flex;
		justify-content: space-between;
		height: 25px;
	}

	.navbar__menu > hr {
		display: block;
		width: 100%;
	}

	.navbar__menu {
		transform: translate(1500%);
		/* background-color: var(--clr--very-dark-blue); */
		color: var(--clr--surface);
		/* opacity: 0.95; */
		flex-direction: column;
		transition: 0.3s ease-out;
		width: 10%;
		height: 100vh;
		z-index: 10;
	}

	.navbar__menu.active {
		transform: translate(0);
		width: 100%;
	}

	.navbar__link {
		color: var(--clr--surface);
	}

	.introduction {
		flex-direction: column-reverse;
		text-align: center;
	}

	.introduction__rectangle {
		min-width: 150%;
		height: 30%;
		transform: translate(30%, -200%);
	}

	.introduction__title {
		font-size: var(--fs-larger);
	}

	.introduction__picture {
		margin-bottom: 95px;
	}

	.features {
		flex-direction: column;
		justify-content: center;
		text-align: center;
		margin-bottom: 75px;
	}

	.features__heading {
		font-size: var(--fs-large);
	}

	.features__slide-buttons {
		flex-direction: column;
		width: -moz-fit-content;
		width: fit-content;
		align-self: center;
	}

	.features__button:first-child {
		border-top: 1px solid rgb(73, 93, 207, 0.2);
	}

	.features__button {
		padding-top: 20px;
		width: 70vw;
	}

	/* .features__buttons-line {
		width: 45vw;
	} */

	.features__slideshow-page {
		flex-direction: column;
	}

	.features__rectangle {
		height: 80%;
		transform: translate(-50%, 20%);
	}

	.features__picture {
		max-width: 100%;
		margin-bottom: 70px;
	}

	.features__slideshow-info {
		align-items: center;
		margin-bottom: 75px;
	}

	.features__slideshow-heading {
		font-size: var(--fs-large);
	}

	.extensions {
		flex-direction: column;
		align-items: center;
	}

	.extensions__info-title {
		font-size: var(--fs-large);
	}

	.extensions__cards {
		/* justify-content: center; */
		margin: 0;
	}

	.extensions__card:nth-child(1n) {
		margin: 0;
	}

	.FAQ {
		margin: 0;
	}

	.FAQ__info-title {
		font-size: var(--fs-large);
	}

	.footer__top {
		flex-direction: column;
		text-align: center;
	}

	.footer__label {
		font-size: var(--fs-large);
	}

	.footer__input {
		flex-direction: column;
	}

	.footer__input-button {
		width: 100%;
	}

	.footer__bottom {
		height: auto;
		flex-direction: column;
		text-align: center;
		align-items: center;
		padding: 40px 0;
	}

	.footer-navigation {
		flex-direction: column;
		gap: 0;
		margin-bottom: 50px;
	}

	.footer__logo {
		margin-bottom: 40px;
	}

	.footer__menu {
		flex-direction: column;
	}

	.footer__social-media {
	}
}
