:root {
	--clr--soft-blue: hsl(231, 69%, 60%);
	--clr--soft-red: hsl(0, 94%, 66%);
	--clr-grayish-blue: hsl(229, 8%, 60%);
	--clr--very-dark-blue: hsl(229, 31%, 21%);
	--clr--surface: hsl(0, 0%, 100%);

	--fs-normal: 18px;
	--fs-large: 32px;
	--fw-normal: 400;
	--fw-bold: 500;
	--opacity-text: 0.7;
}

*,
::before,
::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body,
header,
main,
footer {
	height: fit-content;
	width: 100%;
}

header,
main,
footer {
	padding-left: 11%;
	padding-right: 6%;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 46px;
	margin-top: 45px;
	margin-bottom: 110px;
}

body {
	font-family: "Rubik", sans-serif;
	font-size: var(--fs-normal);
	font-weight: var(--fw-normal);
	position: relative;
}

html,
body {
	overflow-x: hidden;
}

main {
}

.logo {
	width: 150px;
	height: 25px;
}

.navbar__close-icon {
	display: none;
}

.navbar {
	/* display: flex; */
	/* align-items: top; */
	/* height: 100px; */
}

.navbar__logo,
.navbar__hamburger,
.navbar__footer {
	display: none;
}

.navbar__logo_active {
	display: none;
}

.navbar__menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	gap: 44px;
}

.navbar__menu > hr {
	display: none;
}

.navbar__link {
	text-decoration: none;
	color: var(--clr--very-dark-blue);
}

.navbar__button {
	background-color: var(--clr--soft-red);
	color: var(--clr--surface);
	border: none;
	border-radius: 10px;
	padding: 16px 33px;
}

.introduction {
	display: flex;
	align-items: center;
	width: auto;
	height: min-content;
	margin-bottom: 150px;
}

.introduction__rectangle {
	width: 70vw;
	height: 35vh;
	position: absolute;
	z-index: -1;
	transform: translate(70%, 20%);
	background-color: var(--clr--soft-blue);
	border-radius: 316px;
}

.introduction__info {
	display: flex;
	flex-direction: column;
	align-items: centerg;
	min-width: 245px;
	row-gap: 30px;
}

.introduction__title {
	font-size: 48px;
	font-weight: var(--fw-bold);
}

.introduction__text {
	opacity: var(--opacity-text);
}

.introduction__picture {
	display: flex;
	max-width: 100%;
	max-height: auto;
}

.introduction__buttons {
	display: flex;
	justify-content: flex-start;
	gap: 15px;
	margin-top: 10px;
}

.introduction__button {
	border-radius: 4px;
	border: none;
	font-weight: var(--fw-bold);
	box-shadow: 0px 9px 17px 2px rgba(179, 176, 176, 0.57);
	-webkit-box-shadow: 1px 9px 17px 2px rgba(179, 176, 176, 0.57);
	-moz-box-shadow: 1px 9px 17px 2px rgba(179, 176, 176, 0.57);
}

.introduction__button-chrome {
	width: 166px;
	height: 48px;
	background-color: var(--clr--soft-blue);
	color: var(--clr--surface);
}

.introduction__button-firefox {
	width: 161px;
	height: 48px;
	color: var(--clr--very-dark-blue);
}

.features {
	display: flex;
	flex-direction: column;
}

.features__rectangle {
	width: 70vw;
	height: 35vh;
	position: absolute;
	z-index: -1;
	transform: translate(-55%, 90%);
	background-color: var(--clr--soft-blue);
	border-radius: 316px;
}

.features__info {
	display: flex;
	flex-direction: column;
	margin-bottom: 70px;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}

.features__heading {
	font-size: var(--fs-large);
	margin-bottom: 30px;
}

.features__info-text {
	max-width: 540px;
	opacity: var(--opacity-text);
	display: flex;
	justify-content: center;
}

.features__slide-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 70px;
}

.features__button {
	/* padding: 10px 30px;
	display: flex;
	align-items: flex-start; */
	padding-left: 30px;
	padding-right: 30px;
	/* padding-top: 10px; */
	padding-bottom: 10px;
	background-color: var(--clr--surface);
	border: none;
}

.features__slideshow {
	display: flex;
}

.features__slideshow-page {
	display: flex;
	transform: translate(200%);
	transition: 0.3s ease-out;
}

.features__slideshow-page.active {
	transform: translate(0);
	display: flex;
}

.features__slideshow-page_left {
	position: absolute;
}

.features__slideshow-page_center {
}

.features__slideshow-page_right {
	position: absolute;
}

.features__picture {
}

.features__slidshow-info {
}

.features__slideshow-heading {
	font-size: var(--fs-large);
}

.features__slideshow-text {
}

.features__button-info {
}
/* *
*
*
*
*
*
 */

footer {
	background-color: var(--clr--very-dark-blue);
	height: 88px;
	display: flex;
	justify-content: space-between;
	/* flex-direction: row; */
	align-items: center;
}

footer li {
	list-style: none;
}

.footer__menu {
	display: flex;
}

.footer-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 60px;
}

.footer__menu {
	gap: 40px;
}

.footer__link {
	text-decoration: none;
	color: var(--clr--surface);
	font-weight: var(--fw-normal);
}

.footer__social-media {
	display: flex;
	align-items: center;
	gap: 40px;
}

@media screen and (max-width: 768px) {
	body {
		padding: 0;
		margin-top: 45px;
	}
	header {
		overflow: hidden;
		margin: 0;
	}

	.active {
		background-color: var(--clr--very-dark-blue);
		transition: 0.3s ease-out;
		opacity: 0.95;
	}

	header.active {
		overflow: visible;
		/* background-color: var(--clr--very-dark-blue); */
		transition: 0.3s ease-out;
		/* transition: 0.3s ease-out; */
		/* overflow-y: scroll; */
	}

	.navbar__logo,
	.navbar__hamburger,
	.navbar__footer {
		display: block;
	}

	.logo {
		display: none;
	}

	.navbar__logo.disable {
		display: none;
	}

	.navbar__logo_active.active {
		display: block;
	}

	.navbar {
		width: 100%;
		height: 100%;
		flex-direction: column;
		gap: 80px;
		/* display: flex; */
	}
	/* .navbar__logo {
		background-color: rgb(0, 8, 255);
		-webkit-mask: url(logo.svg) no-repeat center;
		mask: url(logo.svg) no-repeat center;
	} */

	.navbar__hamburger.active {
		/* transition: 10 ease-out; */
		display: none;
	}

	.navbar__close-icon.active {
		/* transition: 10 ease-out; */
		display: block;
	}

	.navbar__header {
		display: flex;
		justify-content: space-between;
		height: 25px;
	}

	.navbar__menu > hr {
		display: block;
		width: 100%;
	}

	.navbar__menu {
		transform: translate(1500%);
		/* background-color: var(--clr--very-dark-blue); */
		color: var(--clr--surface);
		/* opacity: 0.95; */
		flex-direction: column;
		transition: 0.3s ease-out;
		width: 10%;
		height: 100vh;
		z-index: 10;
	}

	.navbar__menu.active {
		transform: translate(0);
		width: 100%;
		/* transition: 0.3s ease-out; */
	}

	.navbar__link {
		color: var(--clr--surface);
	}
}
